@import "primeicons/primeicons.css";

body {
  margin: 0;
  font-family: 'Comfortaa', cursive, sans-serif;
  background: url('assets/background.png') center/cover no-repeat fixed;
  min-height: 100vh;
}